.info-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.advantages-cards {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 180px;
  width: 140px;
  align-items: center;
  padding: 80px 30px 0;
  font-size: 14px;
}

.advantages-cards i {
  font-size: 50px;
  margin-bottom: 25px;
  color: blue;
}
